/* Font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300&display=swap");

.customer-form-container {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

form div {
  margin-bottom: 10px; /* Add space between form fields */
}

input,
select,
textarea {
  background-color: #f6f0ff; /* Matches the main background color */
  border: 1px solid #e0b3ff; /* Light purple border */
  padding: 2px;
  border-radius: 6px;
  width: 300px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

label {
  display: block;
  font-weight: bold;
  color: #4a3c78; /* Darker purple for label text */
  padding: 4px;
}

button:hover {
  transform: scale(1.15); /* Slightly enlarge button on hover */
}
