/* .App {
  text-align: center;
} */

table, th, td {
  border: 1px solid black; /* Adds a black border to the table and cells */
}

th, td {
  padding: 8px; /* Adds some padding inside each cell */
}

/* Selected Row Styling */
tr.selected {
  font-weight: bold;
  background-color: #f0f0f0;
}

form {
  border: 1px solid #ccc; /* Adds a border around the form */
  max-width: 350px; /* Sets a maximum width for the form */
  border-radius: 4px; /* Rounded corners for the form */
  padding: 20px; /* Adds padding inside the form */
}
form div {
  margin-bottom: 10px; /* Add space between form fields */
 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
